body{background-color:#FFFFFF; padding:20px; text-align:top;}
*{padding:0; margin:0; font-size:12px;}

.buy div{
	padding:17px;
	background:#47A347;
	color:#FFFFFF;
}
.buy{
    padding-right:10px;
}

.buy div:hover{
    background:#000000;
}

.price{
	text-align:right;
	padding-right:2px;
	font-size:28px;
}

.low{
    margin-right:-2px;
    padding:0px 5px 0px 5px;
    background:#000000;
    font-size:28px;
    color:#FF4F4F;
}

.items{
    cursor:pointer;
    padding:5px;
}

.items-main:hover{
    color:#FFFFFF;
    background:#56C456;
}
table td{
    border-top:10px solid #FFFFFF;
}
.img-container{
    overflow:hidden;
    height:50px;
    border-left:5px solid #000000;
    border-right:5px solid #000000;
}
.img img{
    margin-top:-13px;
	height:78px;
}

.dollars{
    margin-top:2px;
    margin-right:-2px;
    padding:1px 3px 1px 3px;
    background:#000000;
    color:#FFFFFF;
}


.active{
	background-color:#000000;
	margin:3px;
	font-size:15px;
	padding:10px;
}

a{
	color:#FFFFFF;
	text-decoration:none;
}
#pages{
	float:clear;
	padding-bottom:10px;
}
#market{
	float:clear;
}


.page{
	margin:3px;
	font-size:15px;
	padding:10px;
	background-color:#FF7519;
}

.page:hover{
    background:#56C456;
}


.name{
	padding-right:2px;
	text-align:right;
	font-size:9px;
	text-transform:uppercase;
	font-weight:bold;
}

#toolbar{font-size:14px;}
.left{float:left;}

.friend:hover{background-color:yellow; cursor:pointer;}

#inventory{max-width:750px;}

.item-class{font-size:8px;}

.item-rarity{
	max-width:5px; 
	height:10px; 
	background-color:#EEEEEE; 
	position:absolute; 
	margin-top:-15px; 
	margin-left: 60px; 
	padding:3px; 
	overflow:hidden;
	text-transform:uppercase;
}
.item-cont{float:left; padding:3px; border: solid 1px #DDDDDD;}
.item-cont:hover{background-color:#EEEEEE; cursor:pointer;}
.item-count{font-size:9px; position:absolute; margin-top:-15px; padding:3px; background-color:#FFFFFF; color:#000000;}
.item-name{font-size:10px; position:absolute; max-width:66px; padding:2px; background-color:#000000; color:#FFFFFF; display:none;}
.item-name:hover{z-index:9999;}
.item{position:relative;}

.common{background-color:#B0C3D9}
.uncommon{background-color:#5E98D9}
.rare{background-color:#4B69FF}
.mythical{background-color:#8847FF}
.legendary{background-color:#D32CE6}
.ancient{background-color:#EB4B4B}
.immortal{background-color:#E4AE33}
.arcana{background-color:#ADE55C}

.white{color : #FFFFFF}
.textSmall{font-size:9px;}
.Unusual{background-color : #8650AC}
.Elder{background-color: #476291}
.Heroic{background-color : #8650AC}
.Cursed{background-color : #8650AC}
.Genuine{background-color : #4d7455}
.Frozen{background-color : #4682B4}
.Auspicious{background-color : #32CD32}

